body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter:drop-shadow(0px 0px 2px rgba(0,0,0,0.5));
  border-radius: 4px;
}

header{
  text-transform: uppercase;
  font-style: italic;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

input{
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 4px 12px;
  font-size: 14px;
}

.categoryList{
  overflow: auto;
  overflow-y: hidden;
}

.categoryList::-webkit-scrollbar{
   height: 4px;
}

.categoryList::-webkit-scrollbar-track{
  border-radius: 8px;
  background-color: rgb(218, 217, 217);
}

.categoryList::-webkit-scrollbar-thumb{
  background-color: rgba(119, 118, 118,0.6);
  border-radius: 8px;
}

.catItem{
  cursor: pointer;
  text-wrap: nowrap;
  padding-inline: 12px;
  position: relative;
  bottom: 4px;
  border: 1px solid gray;
  border-radius: 18px;
  font-size: 14px;
  padding: 3px 22px;
}

.catItem.active{
  border: 1px solid rgb(255, 5, 5);
  color: rgb(255, 5, 5);
}

#filter::after{
  display: none;
}

#filter{
  background-color: aliceblue !important;
  color: black !important;
  outline: none;
  border: transparent;
}

.items_details{
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1),-2px -2px 3px rgba(0, 0, 0, 0.1);
  height: 19rem;
  border-radius: 8px;
}

.rating_container span{
  color: rgb(184, 184, 73);
}

.img_container{
  height: 10rem;
}

.likedHeart{
  color: rgb(255, 5, 5);
}

.like{
  cursor: pointer;
}

.discount_tag{
  left: 0px;
  top: -3px;
  color: gold;
  filter: drop-shadow(3px 4px 3px black);
}

.discount_value{
  position: absolute;
  left: 10px;
  color: darkslategray;
  font-weight: 700;
  top: 14px;
  font-size: 14px;
}

.items_details:hover{
  transform: scale(1.01);
  cursor: pointer;
}

.stock_cal span{
  display: inline-block;
  background-color: aliceblue;
  color: black;
  font-size: 20px;
  padding: 3px;
  min-width: 30px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.stock_cal span:nth-child(2){
  cursor: auto !important;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.disablePlusStock{
  background-color: rgb(175, 175, 175) !important;
  cursor:default !important;
}

table{
  border-collapse: collapse;
  margin-top: 10px;
}

tr{
  width: 100%;
  display: flex;
  height: 90px;
  padding-bottom: 5px;
}
tr img{
  width: 100px;
  height: 100px;
}

thead{
  background-color: black;
  color: white;
}

thead tr{
  display: flex;
  align-items: center;
}

tr:nth-child(even){
  background-color: rgb(209, 206, 206);
}

td,th{
  justify-self: left;
  text-align: left; 
  display: flex;
  align-items: center;
  padding-left: 18px;
  padding-top: 10px;
}